/* Vaskka 2018-10-24 17:10:24 */

.pre-show {
    animation: main-play 8s;
    animation-timing-function: ease-in-out;
    background-color: rgb(99, 210, 224);
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

/* hi 左点 */
.point-left {
    animation: left-point-show 8s;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: -90px;
    left: -120px;
    border-radius: 30px;
    background-color: #FFFF00;
    opacity: 0;
    width: 45px;
    height: 45px;
    
}
/* hi 右点 */
.point-right {
    animation: right-point-show 8s;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: -90px;
    right: -120px;
    background-color: #FFFF00;
    opacity: 0;
    width: 45px;
    height: 45px;
    border-radius: 30px;

}


/* hi的中心定位参考 */
.hi-body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 257px;
    height: 266px;
    display: inline-block;

} 


/* hi主体 */
.hi-body > img.hi-body-img {
    animation: hi-body-show 8s;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

/* this is  */
.show-this {
    animation: this-show 8s;
    animation-timing-function: ease-in-out;
    position: absolute;
    margin-top: 40px;
    left: -600px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    opacity: 0;
}

/* logo */
.show-logo {
    animation: logo-show 8s;
    animation-timing-function: ease-in-out;
    position: absolute;
    margin-top: 40px;
    left: 600px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    opacity: 0;
}


/* 左点关键帧 */
@keyframes left-point-show {
    0% {
        opacity: 0;
        top: -90px;
        left: -130px;

    }
    20% {
        opacity: 1;
        top: -90px;
        left: -130px;


    }
    30% {
        opacity: 1;
        top: -90px;
        left: 225px;

    }
    40% {
        opacity: 1;
        top: 10px;
        left: 225px;

    }
    70% {
        opacity: 1;
        top: 10px;
        left: 225;
        background-color: #ffffff;

    }
    100% {
        opacity: 0;
        top: 10px;
        left: 225px;
        background-color: #ffffff;
    }
}


/* 右点关键帧 */
@keyframes right-point-show {
    0% {
        opacity: 0;
        top: -90px;
        left: 305px;

    }
    20% {
        opacity: 1;
        top: -90px;
        left: 305px;

    }
    30% {
        opacity: 1;
        top: -90px;
        left: 225px;
    }
    40% {
        opacity: 1;
        top: 10px;
        left: 225px;

    }
    70% {
        opacity: 1;
        top: 10px;
        left: 225px;
        background-color: #ffffff;

    }
    100% {
        opacity: 1;
        top: 10px;
        left: 225px;
        background-color: #ffffff;
    }
}


/* hi主体关键帧 */
@keyframes hi-body-show {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* this is 关键帧 */
@keyframes this-show {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* logo关键帧 */
@keyframes logo-show {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes main-play {
    0% {
        background-color: rgb(99, 210, 224);
    }
    40% {
        background-color: rgb(99, 210, 224);
    }
    70% {
        background-color: rgb(5, 117, 182);
    }
    100% {
        background-color: rgb(5, 117, 182);
    }
}