@keyframes rotateImg {
    0% {transform : rotate(0deg);} 
    100% {transform : rotate(360deg);} 
} 
@-webkit-keyframes rotateImg {
    0%{-webkit-transform : rotate(0deg);} 
    100%{-webkit-transform : rotate(360deg);} 
}
#find_1{
    position: absolute;
    left: 1200px;
    top: 550px;
    width: 150px;
    height: 150px;
    background-color: #FFF0F5;
}
#find_2{
    position: absolute;
    left: 1200px;
    top: 550px;
    width: 150px;
    height: 150px;
    background-color: #FFF0F5;
    transform: rotate(45deg);
}
img{
    width: 100%;
}
body{
    overflow-y:hidden;
}
#input_box{
    align-self: center;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:1px 1px 1px 1px rgb(117, 117, 117) ;
    border: solid 1px #000;
    width: 48%;
    height: 40%;
    border-radius: 10px;
    background-color: #fff;
}
#upload_h1{
    font-size: 50px;
    letter-spacing: 15px;
    margin-left: 30px;
}
#upload_small{
    margin-left: 10px;
    letter-spacing: 12px;

}
#upload_label{
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    letter-spacing: 7px;
    line-height: 1.5em;
}
.form-control{
    margin-left: 30px; 
}
#pic_name{
    width: 350px;
    border-radius: 3px;
}
#upload_textarea{
    width: 70%;
    resize: none;
    height: 150px;
    width: 350px;
    border-radius: 3px;
    margin-bottom: 20px;
}
#upload_icon{
    font-size: 20px;
    color: green;
    background-color: #fff;
    border: 0;
    height: 30px;
    align-content: center;
    width: 20px;
}
#upload_icon_false{
    margin-right: 20px;
    font-size: 20px;
    color: red;
    background-color: #fff;
    width: 20px;
    border: 0;
}
#file_choose{
    letter-spacing: 3px;
    margin-left: 30px;
}
#picinput{
    margin-left: 30px;
}
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 8px;
    line-height: 10px;
}

.fileinput-button input{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    filter: 'alpha(opacity=0)';
}
#submit_button{
    position: relative;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    line-height: 10px;
    width: 80px;
    letter-spacing: 10px;
    align-content: center;
    margin-left: 185px;
    color: #000;
    background-color: #fff;
    border: 1px 1px 1px 1px #000;
}
#rotate_pic_1{
    width: 150px;
    height: 150px;
    position: absolute;
    left: -75px;
    top: -75px;;
    animation:rotateImg 5s linear infinite;
    vertical-align: middle;
    z-index: -1;
    border-radius: 15px;
}
#rotate_pic_2{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -75px;
    right: -75px;
    animation:rotateImg 5s linear infinite;
    vertical-align: middle;
    z-index: -1;
    border-radius: 15px;
}
#upload{
   height: 100%;
}