/* 小星星主展示 */
.star-show {
    position: absolute;
    height: 60vh;
    width: 20vw;

}

.star-show-left {
    left: 10vw ;
    top: 0;
}

.star-show-right {
    right: 5vw ;
    top: 0;
}


/* 小星星牵线 */
.star-line {
    position: absolute;
    width: 2px;           /* 牵线宽度 20px:动态宽度 20%: 固定宽度*/
}

.star-line-1 {
    left: 10%;
    height: 8%;                /* 牵线宽度 20px:动态宽度 20%: 固定宽度*/
    background-color: #fff;                /* 牵线颜色（暂定） */


    /* animation-name: front-line-move-1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.22,-0.08,.27,1.55);
    animation-fill-mode:forwards; */
}
.star-line-2 {
    left: 30%;
    height: 8%;                /* 牵线宽度 20px:动态宽度 20%: 固定宽度*/
    background-color: #fff;                /* 牵线颜色（暂定） */


    /* animation-name: front-line-move-2;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.22,-0.08,.27,1.55);
    animation-fill-mode:forwards; */
}
.star-line-3 {
    left: 50%;
    height: 8%;                /* 牵线宽度 20px:动态宽度 20%: 固定宽度*/
    background-color: #fff;                /* 牵线颜色（暂定） */


    /* animation-name: front-line-move-3;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.22,-0.08,.27,1.55);
    animation-fill-mode:forwards; */
}



/* 小星星本星 */
.star {
    position: absolute;
    height: calc(width);
    width: 20%;
    top: 0;

}

.star-1 {
    left: 0;

    /* animation-name: front-star-move-1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.22,-0.08,.27,1.55);
    animation-fill-mode:forwards; */
}

.star-2 {
    left: 20%;

    /* animation-name: front-star-move-2;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.22,-0.08,.27,1.55);
    animation-fill-mode:forwards; */
}

.star-3 {

    left: 40%;
    /* animation-name: front-star-move-3;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.22,-0.08,.27,1.55);
    animation-fill-mode:forwards; */
}

.star-img {
    width: 100%;
    height: auto;
}

/* 动画关键帧 */

/* 出发关键帧 */
@keyframes front-line-move-1 {
    from {
       height: 8%;
    }
    to {
        height: calc(8% + 100px);
    }
}

@keyframes front-line-move-2 {
    from {
       height: 8%;
    }
    to {
        height: calc(8% + 150px);
    }
}

@keyframes front-line-move-3 {
    from {
       height: 8%;
    }
    to {
        height: calc(8% + 200px);
    }
}

@keyframes front-star-move-1 {
    from {
        top: 0;
    }
    to {
        top: 100px;
    }
}

@keyframes front-star-move-2 {
    from {
        top: 0;
    }
    to {
        top: 150px;
    }
}

@keyframes front-star-move-3 {
    from {
        top: 0;
    }
    to {
        top: 200px;
    }
}

/* 循环关键帧 */
@keyframes line-move-1 {
    0% {
        height: calc(8% + 100px);
    }
    25% {
        height: calc(8% + 70px);
    }
    50% {
        height: calc(8% + 100px);
    }
    75% {
        height: calc(8% + 130px);
    }
    100% {
        height: calc(8% + 100px);
    }
}
@keyframes line-move-2 {
    0% {
        height: calc(8% + 150px);
    }
    25% {
        height: calc(8% + 120px);
    }
    50% {
        height: calc(8% + 150px);
    }
    75% {
        height: calc(8% + 180px);
    }
    100% {
        height: calc(8% + 150px);
    }
}
@keyframes line-move-3 {
    0% {
        height: calc(8% + 200px);
    }
    25% {
        height: calc(8% + 170px);
    }
    50% {
        height: calc(8% + 200px);
    }
    75% {
        height: calc(8% + 230px);
    }
    100% {
        height: calc(8% + 200px);
    }
}

@keyframes star-move-1 {
    0% {
        top: 100px;
        transform: rotate(0deg);
    }
    25% {
        top: 70px;
        transform: rotate(90deg);
    }
    50% {
        top: 100px;
        transform: rotate(180deg);
    }
    75% {
        top: 130px;
        transform: rotate(270deg);
    }
    100% {
        top: 100px;
        transform: rotate(360deg);
    }
}
@keyframes star-move-2 {
    0% {
        top: 150px;
        transform: rotate(0deg);
    }
    25% {
        top: 120px;
        transform: rotate(90deg);
    }
    50% {
        top: 150px;
        transform: rotate(180deg);
    }
    75% {
        top: 180px;
        transform: rotate(270deg);
    }
    100% {
        top: 150px;
        transform: rotate(360deg);
    }
}
@keyframes star-move-3 {
    0% {
        top: 200px;
        transform: rotate(0deg);
    }
    25% {
        top: 170px;
        transform: rotate(90deg);
    }
    50% {
        top: 200px;
        transform: rotate(180deg);
    }
    75% {
        top: 230px;
        transform: rotate(270deg);
    }
    100% {
        top: 200px;
        transform: rotate(360deg);
    }
}

/* 退回关键帧 */
@keyframes back-star-line-1 {
    from {
        height: calc(8% + 100px);
    }
    to {
        height: 8%;
    }
}

@keyframes back-star-line-2 {
    from {
        height: calc(8% + 150px);
    }
    to {
        height: 8%;
    }
}

@keyframes back-star-line-3 {
    from {
        height: calc(8% + 200px);
    }
    to {
        height: 8%;
    }
}

@keyframes back-star-move-1 {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

@keyframes back-star-move-2 {
    from {
        top: 150px;
    }
    to {
        top: 0;
    }
}

@keyframes back-star-move-3 {
    from {
        top: 200px;
    }
    to {
        top: 0;
    }
}