.classify-block-1 {
    width: 100%;
    height: calc(95vh);
    border-radius: 30px;
    background: url(../img/2.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    
}
.classify-block-2 {
    width: 100%;
    height: calc(95vh);
    border-radius: 30px;
    background: url(../img/7.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
    box-shadow: 0px 16px 25.92px 6.08px rgba(6, 0, 1, 0.34);
    transition: all 0.2s ease-in-out;
    
}
.classify-block-3 {
    width: 100%;
    height: calc(95vh);
    border-radius: 30px;
    background: url(../img/20.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    
}
.classify-block-4 {
    width: 100%;
    height: calc(95vh);
    border-radius: 30px;
    background: url(../img/6.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    
}

.classify-block-1:hover{
    background-color: rgb(160, 160, 160);
    background-blend-mode: multiply;
    box-shadow: 0px 16px 25.92px 10px rgba(6, 0, 1, 0.34);
}

.classify-block-2:hover{
    background-color: rgb(160, 160, 160);
    background-blend-mode: multiply;
    box-shadow: 0px 16px 25.92px 10px rgba(6, 0, 1, 0.34);
}

.classify-block-3:hover{
    background-color: rgb(160, 160, 160);
    background-blend-mode: multiply;
    box-shadow: 0px 16px 25.92px 10px rgba(6, 0, 1, 0.34);
}

.classify-block-4:hover{
    background-color: rgb(160, 160, 160);
    background-blend-mode: multiply;
    box-shadow: 0px 16px 25.92px 10px rgba(6, 0, 1, 0.34);
}

.classify-icon-left {
    
    width:300px; height:300px;position: relative; top: 400px;left: 20%;
    
    
}

.animation-img:hover {
    animation: rotateR 10s linear infinite;
}



.classify-icon-right {
    
    width:300px; height:300px;position: relative; top: 400px;left: 60%;
    
}

.horizon-line {
    background: url(../img/line.png) no-repeat center center;
    background-size: contain;
    width:150px;height: 10px; position: relative; top: -218px;left: 75px;
}



@keyframes rotateR{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes rotateL{
	from{
		transform: rotate(360deg);
	}
	to{
		transform: rotate(0deg);
	}
}

a:hover {
    text-decoration: none;
}
.img-title {
    color: #424242;
}
.img-title:hover {
    color: #0a43c0;
}

.animation-text:hover {
    animation: changeSize 30s linear;
}

@keyframes changeSize {
    from {
        font-size: 20px;
        letter-spacing: 5px;
    }
    to {
        font-size: 80px;
        letter-spacing: 10px;
    }
}